<html>
    <head>
        <title>Digi Express</title>

        <style>
            body {
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;

                background-color: whitesmoke;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            .header {
                width: 100%;
                height: 30%;

                background-color: rgb(35, 38, 41);
            }
            .header > p {
                margin: 0;
                padding: 0;

                text-align: center;
                vertical-align: middle;
                line-height: 25vh;

                font-weight: bold;
                font-size: 4vw;
                color: rgb(177, 26, 26);
            }

            .error {
                width: 100%;
                height: 23%;
                padding-top: 17vh;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            .error > p {
                margin: 0;
                padding: 0;

                text-align: center;
                font-weight: normal;
                font-size: 2.5vw;
                color: rgb(35, 38, 41);
            }

            .footer {
                width: 100%;
                height: 30%;

                box-sizing: border-box;
                margin: auto;
                padding-top: 13vh;

                background-color: rgb(35, 38, 41);
                text-align: center;
            }

            .button {
                display: inline-block;
                box-sizing: border-box;
                width: 13vw;
                margin: .5em;
                height: 6vh;
                line-height: 6vh;
                font-size: 2vh;

                text-align: center;
                text-decoration: none;

                border-radius: 5px;
                transition: all .5s;
            }

            .reviews {
                background-color: rgb(163, 42, 233);
                color: whitesmoke;
            }
            .reviews:hover {
                background-color: rgb(145, 25, 237);
                transition: all .3s;
            }

            .chat {
                background-color: rgb(24, 217, 121);
                color: whitesmoke;
            }
            .chat:hover {
                background-color: rgb(24, 212, 89);
                transition: all .3s;
            }

            .tg {
                background-color: rgb(42, 171, 238);
                color: whitesmoke;
            }
            .tg:hover {
                background-color: rgb(25, 163, 237);
                transition: all .3s;
            }

        </style>
    </head>
    <body>
        <div class="header">
            <p>🤬 Произошла ошибка 😰</p>
        </div>
        <div class="error">
            <p>{{ .message }}</p>
        </div>
        <div class="footer">
            <a class="button reviews" href="https://oplata.info/info/" target="_blank">ОТЗЫВЫ</a>
            <a class="button chat" href="https://chat.digiseller.ru/asp/start.asp?fr=g&user={{ .sellerId }}&service=1&shop=1&lang=ru-RU&ownshop=1&id_d=0" target="_blank">ЧАТ</a>
            <a class="button tg" href="https://t.me/{{ .tgUser }}" target="_blank">ТЕЛЕГРАМ</a>
        </div>
    </body>
</html>
